.img-responsive {
    max-width: 100%;
}

body {
    font-family: 'Noto Sans Japanese', sans-serif !important;
    font-size: 1.5rem;
    line-height: 1.7;
}

a.link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.mod-banner {
    /* background: #000; */
    background-attachment: scroll !important;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    margin-bottom: 50px;

    .logo {
        /* margin-bottom: 450px; */
        max-width: 88%;
    }

    span {
        background: #000;
        color: #fff;
        display: inline-block;
        padding: 2px 10px;
    }
}

.click-content {
    display: inline-block;
    max-width: 40%;
    margin-bottom: -20%;
    flex: 0 0 40%;
}

.content-item {
    position: relative;

    .title {
        max-width: 10%;
        margin-left: 10%;
        display: inline-block;
        margin-top: -20%;
        flex: 0 0 10%;
    }

    p {
        max-width: 60%;
        flex: 0 0 60%;
        display: inline-block;
        padding-right: 10px;
    }


    &.item-reverse{
        .title {
            margin-left: 0;
            margin-right: 8%;
        }
        p {
            padding-right: 0;
            padding-left: 10px;
        }
    }

    .img {
        max-width: 70%;
        flex: 0 0 70%;
        display: inline-block;
        margin-top: -30%;
    }


    padding: 10px 15px;
    background: #fff;
    border-radius: 30px;
    /* display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column; */
    max-width: 320px;
    margin: 60px auto;
    font-size: 1.2rem;
}

.top-item {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    position: relative;
    z-index: 2;
}

.bottom-item {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    position: relative;
    z-index: 1;
}

.item-blue {
    color: #34DDF4;
}

.item-green {
    color: #47BC09;
}

.item-pink {
    color: #FF3CAA;
}

.content-item.item-blue .img {
    margin-bottom: -10%;
}

.logo-pc {
    display: none;
}

.text-content {
    margin-bottom: 30px;
}

.top-banner {
    height: calc(100vh - 68px);
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    position: relative;
}

.top-banner-container {
    padding: 0;
}

.text-content-pc {
    display: none;
}

.content-logo {
    position: absolute;
    right: 15px;
    bottom: 20px;
    max-width: 22px;
}

.mod-page {
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 50px;
    padding-bottom: 50px;

    .container {
        padding: 0 22px;
    }

    .header {
        background: #fff;
    }

    .sub-title {
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        margin-bottom: 10px;
    }

    .title-label {
        padding: 5px 0;
        max-width: 200px;
        flex: 0 0 200px;
        text-align: center;
        transform: translateX(-22px);

        &.bg-black {
            max-width: 117px;
            flex: 0 0 117px;
            background: #000 !important;
            transform: translateX(22px);
        }
    }

    &.page-events {
        color: #34DDF4;

        .title-label {
            background: #34DDF4;
            color: #fff;
        }
    }

    &.page-miyage {
        color: #FF3CAA;

        .title-label {
            background: #FF3CAA;
            color: #fff;
        }
    }

    &.page-news {
        color: #47BC09;

        .title-label {
            background: #47BC09;
            color: #fff;
        }
    }

    .header img {
        max-width: 200px;
    }
}

.page-wrapper {
    background: #fff;
    max-width: 526px;
    margin: 50px auto 0;
}

.page-container {
    max-width: 526px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.top-title {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    transform: translateY(-50%);
}

.page-content {
    padding: 0 22px;
    font-size: 1.2rem;
    margin-bottom: 20px;

    a {
        &:hover {
            color: blue;
        }
    }
}

.top-title {
    .title {
        max-width: 120px;
    }

    .icon {
        max-width: 50px;
    }
}

.content-img {
    margin-bottom: 20px;

    img {
        margin-bottom: 10px;
    }
}

.black-box {
    background: #000;
    color: #fff;

    .page-container {
        padding: 10px 0;
    }
}

.blue-color {
    color: #34DDF4;
}

.pink-color {
    color: #FF3CAA;
}

.green-color {
    color: #47BC09;
}

.two-col {
    max-width: 100%;
    flex: 0 0 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 20px;
    align-items: center;
    -webkit-align-items: center;
    border-bottom: 1px solid #ccc;
    position: relative;

    &:nth-child(2) {
        border-top: 1px solid #ccc;
    }

    .img {
        max-width: 90px;
        flex: 0 0 90px;
    }

    .click-icon {
        max-width: 50px;
        flex: 0 0 50px;
    }
    .content {
        font-size: 1.1rem;
    }
}

.one-col {
    max-width: 100%;
    flex: 0 0 100%;

    &.to-top {
        padding: 30px 0;
        color: #000;
        position: relative;
    }

    &.black-box {
        padding: 20px;
        order: 12;

        p {
            margin-bottom: 0;
        }
    }
}

.bottom-page {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.page-item {
    margin-bottom: 60px;
}

.bg-background {
    background-position: center center;
    background-size: cover;
    position: fixed;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .page-wrapper {
        max-width: 800px;
    }

    .two-col {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 25px;

        &:nth-child(2) {
            border-top: 0;
            border-right: 1px solid #ccc;
        }

        .img {
            max-width: 103px;
            flex: 0 0 103px;
        }

        .click-icon {
            max-width: 70px;
            flex: 0 0 70px;
        }
        .content {
            font-size: 1.4rem;
        }
    }

    .one-col {
        &.black-box {
            order: 0;
            padding: 5px 0;
        }
    }

    .page-content {
        padding: 0;
        font-size: 1.5rem;
    }

    .mod-banner {
        background-attachment: fixed !important;
        .logo {
            margin-bottom: 150px;
            max-width: 100%;
        }
    }

    .top-banner {
        height: auto;
    }

    .content-item {
        max-width: 100%;
        margin: 0 auto 120px;
        font-size: 1.5rem;
        padding: 15px 30px;

        &.item-reverse {
            padding-right: 30px;
            padding-left: 30px;
        }
    }

    .mod-banner .container {
        max-width: 747px;
    }

    .top-title {
        justify-content: center;
        -webkit-justify-content: center;

        .icon {
            margin-left: 30px;
            margin-right: 100px;
        }
    }

    .content-item {
        .img {
            max-width: 40%;
            margin-top: -15%;
            flex: 0 0 40%;
        }

        .title {
            max-width: 8%;
        }

        &.item-blue .img {
            margin-bottom: 0;
        }

        &.item-green .img {
            margin-top: -25%;
        }

        &.item-pink .img {
            margin-top: -22%;
        }
    }

    .click-content {
        max-width: 30%;
        flex: 0 0 30%;
    }

    .logo-pc {
        display: block;
    }

    .logo-sp {
        display: none;
    }

    .text-content-pc {
        display: block;
    }

    .text-content-sp,
    .content-logo {
        display: none;
    }

    .mod-page {
        .header {
            display: none;
        }

        .container {
            padding: 0 15px;
        }

        .title-label {
            transform: translateX(0) !important;
        }
    }
}

@media screen and (max-width: 345px) {
    .mod-page {
        .title-label {
            max-width: 150px;
            flex: 0 0 150px;

            &.bg-black {
                max-width: 100px;
                flex: 0 0 100px;
            }
        }
    }
}