@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  position: relative;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem; 
  font-family: Helvetica Neue, Helvetica, Arial, 游ゴシック, Yu Gothic, 游ゴシック体, YuGothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Meiryo UI, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "pkna";
}
@media only screen and (max-width: 30em) {
  body {
    z-index: 4;
  }
}
@media only screen and (min-width: 30em) {
  body {
    z-index: 3;
  }
}
@media only screen and (min-width: 48em) {
  body {
    z-index: 2;
  }
}
@media only screen and (min-width: 64em) {
  body {
    z-index: 1;
  }
}

a {
  outline: none; 
  border-width: 0;
  color: #000;
}
a[href*="tel:"],
a[href*="mailto:"] {
  color: #000;
  text-decoration: none;
}

input[type=submit],
input[type=button],
input[type=reset] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

img {
  max-width: 100%;
  height: auto; 
  vertical-align: middle;
}

svg {
  vertical-align: middle;
}

.svg-conf {
  display: none;
}

.inner,
.ci-inner {
  position: relative; 
  margin-right: 4%;
  margin-left: 4%;
  width: 92%;
}
@media only screen and (min-width: 72.69022em) {
  .inner,
  .ci-inner {
    margin-right: auto; 
    margin-left: auto;
    max-width: 1070px;
    width: 100%;
  }
}
@media only screen and (max-width: 48em) {
  .inner.is-tb-delete,
  .ci-inner.is-tb-delete {
    margin: auto; 
    width: 100%;
  }
}
@media only screen and (max-width: 30em) {
  .inner.is-sp-delete,
  .ci-inner.is-sp-delete {
    margin: auto; 
    width: 100%;
  }
}

.clearfix:after {
  display: block;
  visibility: hidden; 
  clear: both;
  height: 0;
  content: "";
}

.box-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.__debug {
  margin: 2%;
  padding: 2%;
  border: 4px solid #c22; 
  background-color: #ccc;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.mincho {
  font-family: "游明朝", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W3", "ヒラギノ明朝 Pro W3", "HiraMinProN-W3", "HG明朝E", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGS明朝E", "ヒラギノ明朝 Pro W6", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.gothic {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media only screen and (min-width: 48em) {
  br.insert-tb {
    display: none;
  }
}

@media only screen and (min-width: 30em) {
  br.insert-sp {
    display: none;
  }
}

@media only screen and (min-width: 48em) {
  br.delete-tb {
    display: none;
  }
}

@media only screen and (min-width: 30em) {
  br.delete-sp {
    display: none;
  }
}

[class*=__bg-img] {
  position: relative;
  background-position: center center;
  background-size: cover; 
  background-repeat: no-repeat;
}
[class*=__bg-img]:before {
  position: absolute;
  top: 0;
  left: 0; 
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}
[class*=__bg-img] >img {
  visibility: hidden;
  width: 100%;
}
[class*=__bg-img].has-screen:before {
  position: absolute;
  top: 0;
  left: 0; 
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  content: "";
}
[class*=__bg-img].has-screen span:before {
  position: absolute;
  top: 0;
  left: 0; 
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  content: "";
}
@media only screen and (max-width: 48em) {
  [class*=__bg-img].has-sp-img.is-tb-change {
    background-image: none !important;
  }
  [class*=__bg-img].has-sp-img.is-tb-change >img {
    display: none;
  }
  [class*=__bg-img].has-sp-img.is-tb-change:before {
    background: transparent !important;
    background-color: transparent !important;
  }
}
@media only screen and (max-width: 30em) {
  [class*=__bg-img].has-sp-img.is-sp-change {
    background-image: none !important;
  }
  [class*=__bg-img].has-sp-img.is-sp-change >img {
    display: none;
  }
  [class*=__bg-img].has-sp-img.is-sp-change:before {
    background-color: transparent !important;
  }
}
@media only screen and (max-width: 48em) {
  [class*=__bg-img].is-tb-change span {
    display: block;
  }
  [class*=__bg-img].is-tb-change span >img {
    width: 100%;
  }
}
@media only screen and (max-width: 30em) {
  [class*=__bg-img].is-sp-change span {
    display: block;
  }
  [class*=__bg-img].is-sp-change span >img {
    width: 100%;
  }
}
[class*=__bg-img] span {
  display: none;
  width: 100%;
  height: 100%;
}
[class*=__bg-img].is-left-top {
  background-position: left top;
}
[class*=__bg-img].is-left-bottom {
  background-position: left bottom;
}
[class*=__bg-img].is-left-center {
  background-position: left center;
}
[class*=__bg-img].is-right-top {
  background-position: right top;
}
[class*=__bg-img].is-right-bottom {
  background-position: right bottom;
}
[class*=__bg-img].is-right-center {
  background-position: right center;
}

.mt10 {
  margin-top: 5px;
}
@media only screen and (min-width: 48em) {
  .mt10 {
    margin-top: 10px;
  }
}

.mb10 {
  margin-bottom: 5px;
}
@media only screen and (min-width: 48em) {
  .mb10 {
    margin-bottom: 10px;
  }
}

.pt10 {
  padding-top: 5px;
}
@media only screen and (min-width: 48em) {
  .pt10 {
    padding-top: 10px;
  }
}

.pb10 {
  padding-bottom: 5px;
}
@media only screen and (min-width: 48em) {
  .pb10 {
    padding-bottom: 10px;
  }
}

.m10-0 {
  margin: 5px 0;
}
@media only screen and (min-width: 48em) {
  .m10-0 {
    margin: 10px 0;
  }
}

.p10-0 {
  padding: 5px 0;
}
@media only screen and (min-width: 48em) {
  .p10-0 {
    padding: 10px 0;
  }
}

.mt20 {
  margin-top: 10px;
}
@media only screen and (min-width: 48em) {
  .mt20 {
    margin-top: 20px;
  }
}

.mb20 {
  margin-bottom: 10px;
}
@media only screen and (min-width: 48em) {
  .mb20 {
    margin-bottom: 20px;
  }
}

.pt20 {
  padding-top: 10px;
}
@media only screen and (min-width: 48em) {
  .pt20 {
    padding-top: 20px;
  }
}

.pb20 {
  padding-bottom: 10px;
}
@media only screen and (min-width: 48em) {
  .pb20 {
    padding-bottom: 20px;
  }
}

.m20-0 {
  margin: 10px 0;
}
@media only screen and (min-width: 48em) {
  .m20-0 {
    margin: 20px 0;
  }
}

.p20-0 {
  padding: 10px 0;
}
@media only screen and (min-width: 48em) {
  .p20-0 {
    padding: 20px 0;
  }
}

.mt30 {
  margin-top: 15px;
}
@media only screen and (min-width: 48em) {
  .mt30 {
    margin-top: 30px;
  }
}

.mb30 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 48em) {
  .mb30 {
    margin-bottom: 30px;
  }
}

.pt30 {
  padding-top: 15px;
}
@media only screen and (min-width: 48em) {
  .pt30 {
    padding-top: 30px;
  }
}

.pb30 {
  padding-bottom: 15px;
}
@media only screen and (min-width: 48em) {
  .pb30 {
    padding-bottom: 30px;
  }
}

.m30-0 {
  margin: 15px 0;
}
@media only screen and (min-width: 48em) {
  .m30-0 {
    margin: 30px 0;
  }
}

.p30-0 {
  padding: 15px 0;
}
@media only screen and (min-width: 48em) {
  .p30-0 {
    padding: 30px 0;
  }
}

.mt40 {
  margin-top: 20px;
}
@media only screen and (min-width: 48em) {
  .mt40 {
    margin-top: 40px;
  }
}

.mb40 {
  margin-bottom: 20px;
}
@media only screen and (min-width: 48em) {
  .mb40 {
    margin-bottom: 40px;
  }
}

.pt40 {
  padding-top: 20px;
}
@media only screen and (min-width: 48em) {
  .pt40 {
    padding-top: 40px;
  }
}

.pb40 {
  padding-bottom: 20px;
}
@media only screen and (min-width: 48em) {
  .pb40 {
    padding-bottom: 40px;
  }
}

.m40-0 {
  margin: 20px 0;
}
@media only screen and (min-width: 48em) {
  .m40-0 {
    margin: 40px 0;
  }
}

.p40-0 {
  padding: 20px 0;
}
@media only screen and (min-width: 48em) {
  .p40-0 {
    padding: 40px 0;
  }
}

.mt50 {
  margin-top: 25px;
}
@media only screen and (min-width: 48em) {
  .mt50 {
    margin-top: 50px;
  }
}

.mb50 {
  margin-bottom: 25px;
}
@media only screen and (min-width: 48em) {
  .mb50 {
    margin-bottom: 50px;
  }
}

.pt50 {
  padding-top: 25px;
}
@media only screen and (min-width: 48em) {
  .pt50 {
    padding-top: 50px;
  }
}

.pb50 {
  padding-bottom: 25px;
}
@media only screen and (min-width: 48em) {
  .pb50 {
    padding-bottom: 50px;
  }
}

.m50-0 {
  margin: 25px 0;
}
@media only screen and (min-width: 48em) {
  .m50-0 {
    margin: 50px 0;
  }
}

.p50-0 {
  padding: 25px 0;
}
@media only screen and (min-width: 48em) {
  .p50-0 {
    padding: 50px 0;
  }
}

.mt60 {
  margin-top: 30px;
}
@media only screen and (min-width: 48em) {
  .mt60 {
    margin-top: 60px;
  }
}

.mb60 {
  margin-bottom: 30px;
}
@media only screen and (min-width: 48em) {
  .mb60 {
    margin-bottom: 60px;
  }
}

.pt60 {
  padding-top: 30px;
}
@media only screen and (min-width: 48em) {
  .pt60 {
    padding-top: 60px;
  }
}

.pb60 {
  padding-bottom: 30px;
}
@media only screen and (min-width: 48em) {
  .pb60 {
    padding-bottom: 60px;
  }
}

.m60-0 {
  margin: 30px 0;
}
@media only screen and (min-width: 48em) {
  .m60-0 {
    margin: 60px 0;
  }
}

.p60-0 {
  padding: 30px 0;
}
@media only screen and (min-width: 48em) {
  .p60-0 {
    padding: 60px 0;
  }
}

.mt70 {
  margin-top: 35px;
}
@media only screen and (min-width: 48em) {
  .mt70 {
    margin-top: 70px;
  }
}

.mb70 {
  margin-bottom: 35px;
}
@media only screen and (min-width: 48em) {
  .mb70 {
    margin-bottom: 70px;
  }
}

.pt70 {
  padding-top: 35px;
}
@media only screen and (min-width: 48em) {
  .pt70 {
    padding-top: 70px;
  }
}

.pb70 {
  padding-bottom: 35px;
}
@media only screen and (min-width: 48em) {
  .pb70 {
    padding-bottom: 70px;
  }
}

.m70-0 {
  margin: 35px 0;
}
@media only screen and (min-width: 48em) {
  .m70-0 {
    margin: 70px 0;
  }
}

.p70-0 {
  padding: 35px 0;
}
@media only screen and (min-width: 48em) {
  .p70-0 {
    padding: 70px 0;
  }
}

.mt80 {
  margin-top: 40px;
}
@media only screen and (min-width: 48em) {
  .mt80 {
    margin-top: 80px;
  }
}

.mb80 {
  margin-bottom: 40px;
}
@media only screen and (min-width: 48em) {
  .mb80 {
    margin-bottom: 80px;
  }
}

.pt80 {
  padding-top: 40px;
}
@media only screen and (min-width: 48em) {
  .pt80 {
    padding-top: 80px;
  }
}

.pb80 {
  padding-bottom: 40px;
}
@media only screen and (min-width: 48em) {
  .pb80 {
    padding-bottom: 80px;
  }
}

.m80-0 {
  margin: 40px 0;
}
@media only screen and (min-width: 48em) {
  .m80-0 {
    margin: 80px 0;
  }
}

.p80-0 {
  padding: 40px 0;
}
@media only screen and (min-width: 48em) {
  .p80-0 {
    padding: 80px 0;
  }
}

.mt90 {
  margin-top: 45px;
}
@media only screen and (min-width: 48em) {
  .mt90 {
    margin-top: 90px;
  }
}

.mb90 {
  margin-bottom: 45px;
}
@media only screen and (min-width: 48em) {
  .mb90 {
    margin-bottom: 90px;
  }
}

.pt90 {
  padding-top: 45px;
}
@media only screen and (min-width: 48em) {
  .pt90 {
    padding-top: 90px;
  }
}

.pb90 {
  padding-bottom: 45px;
}
@media only screen and (min-width: 48em) {
  .pb90 {
    padding-bottom: 90px;
  }
}

.m90-0 {
  margin: 45px 0;
}
@media only screen and (min-width: 48em) {
  .m90-0 {
    margin: 90px 0;
  }
}

.p90-0 {
  padding: 45px 0;
}
@media only screen and (min-width: 48em) {
  .p90-0 {
    padding: 90px 0;
  }
}

.mt100 {
  margin-top: 50px;
}
@media only screen and (min-width: 48em) {
  .mt100 {
    margin-top: 100px;
  }
}

.mb100 {
  margin-bottom: 50px;
}
@media only screen and (min-width: 48em) {
  .mb100 {
    margin-bottom: 100px;
  }
}

.pt100 {
  padding-top: 50px;
}
@media only screen and (min-width: 48em) {
  .pt100 {
    padding-top: 100px;
  }
}

.pb100 {
  padding-bottom: 50px;
}
@media only screen and (min-width: 48em) {
  .pb100 {
    padding-bottom: 100px;
  }
}

.m100-0 {
  margin: 50px 0;
}
@media only screen and (min-width: 48em) {
  .m100-0 {
    margin: 100px 0;
  }
}

.p100-0 {
  padding: 50px 0;
}
@media only screen and (min-width: 48em) {
  .p100-0 {
    padding: 100px 0;
  }
}

.ta-c {
  text-align: center;
}

.ci-wrapper {
  margin: auto; 
  padding-right: 4%;
  padding-left: 4%;
  max-width: 1190px;
}
.ci-wrapper.is-tb-delete {
  padding-right: 0; 
  padding-left: 0;
}
@media only screen and (min-width: 48em) {
  .ci-wrapper {
    padding-right: 45px; 
    padding-left: 45px;
  }
  .ci-wrapper.is-tb-delete {
    padding-right: 45px; 
    padding-left: 45px;
  }
}

.ci-inner {
  padding: 0;
}
@media only screen and (min-width: 48em) {
  .ci-inner {
    padding-right: 45px; 
    padding-left: 45px;
  }
}