#shop-news-app { display: none; }
#shop-news-app.active { display: block; }
#shop-news-app h1 { font-size: 2.3rem; margin-bottom: 2rem; margin-top: 6rem;}
#shop-news-app .container { border-top: 1px solid #aaa; margin-bottom: 4rem;}
#shop-news-app .list-enter-active, #shop-news-app .list-leave-active { transition: all 1s;}
#shop-news-app .list-enter, #shop-news-app .list-leave-to { opacity: 0;}
#shop-news-app .row { display: flex;display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; }
.news-list a { display: block; height: 100%; width: 100%; position: relative; padding-top: 1.5rem; min-height: 120px;}
.news-list .image { height: 80px; width: 80px; background-position: center center; background-size: cover; margin-right: 1rem; position: absolute; left: 0; top: 2rem;}
.news-list .txt { margin-left: 90px; }
.news-list .tit { font-weight: bold; height: 62px; overflow: hidden; line-height: 1.5;}
.news-list .date { font-size: 1.2rem; }
.news-list .hr { border-bottom: 1px solid #aaa; }
#shop-news-app .morebtn { margin: 3rem 0;}
@media (max-width: 769px) {
	.news-list { width: 100%;}
}
