@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  position: relative;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem; 
  font-family: Helvetica Neue, Helvetica, Arial, 游ゴシック, Yu Gothic, 游ゴシック体, YuGothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Meiryo UI, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "pkna";
}
@media only screen and (max-width: 30em) {
  body {
    z-index: 4;
  }
}
@media only screen and (min-width: 30em) {
  body {
    z-index: 3;
  }
}
@media only screen and (min-width: 48em) {
  body {
    z-index: 2;
  }
}
@media only screen and (min-width: 64em) {
  body {
    z-index: 1;
  }
}

a {
  outline: none; 
  border-width: 0;
  color: #000;
}
a[href*="tel:"],
a[href*="mailto:"] {
  color: #000;
  text-decoration: none;
}

input[type=submit],
input[type=button],
input[type=reset] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

img {
  max-width: 100%;
  height: auto; 
  vertical-align: middle;
}

svg {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

ul,
ol {
  padding-left: 0; 
  list-style-type: none;
}

a {
  text-decoration: none;
}

input[type=text],
textarea {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; 

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}