.img-responsive {
  max-width: 100%; }

a.link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.mod-banner {
  /* background: #000; */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px; }
  .mod-banner .logo {
    /* margin-bottom: 450px; */ }
  .mod-banner span {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 2px; }

.click-content {
  position: relative;
  display: inline-block;
  max-width: 40%;
  margin-bottom: -20%;
  flex: 0 0 40%; }

.content-item {
  padding: 10px;
  background: #fff;
  border-radius: 30px;
  /* display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column; */
  max-width: 320px;
  margin: 60px auto;
  font-size: 1.2rem; }
  .content-item .title {
    max-width: 10%;
    margin-left: 10%;
    display: inline-block;
    margin-top: -20%;
    flex: 0 0 10%; }
  .content-item.item-reverse .title {
    margin-left: 0;
    margin-right: 8%; }
  .content-item .img {
    max-width: 70%;
    flex: 0 0 70%;
    display: inline-block;
    margin-top: -30%; }
  .content-item p {
    max-width: 60%;
    flex: 0 0 60%;
    display: inline-block; }

.top-item {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  position: relative;
  z-index: 2; }

.bottom-item {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  position: relative;
  z-index: 1; }

.item-blue {
  color: #34DDF4; }

.item-green {
  color: #47BC09; }

.item-pink {
  color: #FF3CAA; }

.content-item.item-blue .img {
  margin-bottom: -10%; }

.logo-pc {
  display: none; }

.text-content {
  margin-bottom: 30px; }

.top-banner {
  height: calc(100vh - 68px);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  position: relative; }

.top-banner-container {
  padding: 0; }

.text-content-pc {
  display: none; }

.content-logo {
  position: absolute;
  right: 15px;
  bottom: 20px;
  max-width: 22px; }

.mod-page {
  background-size: cover;
  background-attachment: fixed; }
  .mod-page .header {
    background: #fff; }

.page-wrapper {
  background: #fff;
  max-width: 800px;
  margin: 50px auto 0; }

.page-container {
  max-width: 526px;
  margin: 0 auto; }

.top-title {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  transform: translateY(-50%); }

.page-content {
  padding: 0 22px;
  font-size: 1.2rem;
  margin-bottom: 20px; }

.top-title .title {
  max-width: 120px; }

.top-title .icon {
  max-width: 50px; }

.content-img {
  margin-bottom: 20px; }

.page-events {
  color: #34DDF4; }

@media screen and (min-width: 768px) {
  .page-content {
    padding: 0;
    font-size: 1.4rem; }
  .mod-banner .logo {
    margin-bottom: 150px; }
  .top-banner {
    height: auto; }
  .content-item {
    max-width: 100%;
    margin: 0 auto 120px;
    font-size: 1.4rem;
    padding: 15px;
    padding-right: 30px;
    padding-left: 0; }
    .content-item.item-reverse {
      padding-right: 0;
      padding-left: 30px; }
  .mod-banner .container {
    max-width: 747px; }
  .content-item .img {
    max-width: 40%;
    margin-top: -15%;
    flex: 0 0 40%; }
  .content-item .title {
    max-width: 8%; }
  .content-item.item-blue .img {
    margin-bottom: 0; }
  .content-item.item-green .img {
    margin-top: -25%; }
  .content-item.item-pink .img {
    margin-top: -22%; }
  .click-content {
    max-width: 30%;
    flex: 0 0 30%; }
  .logo-pc {
    display: block; }
  .logo-sp {
    display: none; }
  .text-content-pc {
    display: block; }
  .text-content-sp,
  .content-logo {
    display: none; } }
