@charset "UTF-8";
.img-responsive {
  max-width: 100%; }

body {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO" !important;
  font-size: 1.5rem;
  line-height: 1.7; }

a.link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.bg-white {
  background: #fff;
  padding: 6rem 0; }
  .bg-white .sns {
    margin-bottom: 0; }

.mod-banner {
  /* background: #000; */
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center; }
  .mod-banner .mod-background {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../img/common/main.jpg) center center no-repeat;
    background-size: cover; }
  .mod-banner .logo {
    margin-bottom: 20px;
    max-width: 88%; }
  .mod-banner span {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 2px 10px; }
  .mod-banner .black-box {
    padding: 10px 0; }
    .mod-banner .black-box p {
      margin: 0; }

.bottom-banner img {
  margin-bottom: 20px; }

.click-content {
  display: inline-block;
  max-width: 40%;
  margin-bottom: -20%;
  flex: 0 0 40%; }

.content-item {
  position: relative;
  padding: 10px 15px;
  background: #fff;
  border-radius: 30px;
  /* display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column; */
  max-width: 320px;
  margin: 60px auto;
  font-size: 1.2rem; }
  .content-item .title {
    max-width: 10%;
    margin-left: 10%;
    display: inline-block;
    margin-top: -20%;
    flex: 0 0 10%; }
  .content-item p {
    max-width: 60%;
    flex: 0 0 60%;
    display: inline-block;
    padding-right: 10px; }
  .content-item.item-reverse .title {
    margin-left: 0;
    margin-right: 8%; }
  .content-item.item-reverse p {
    padding-right: 0;
    padding-left: 10px; }
  .content-item .img {
    max-width: 70%;
    flex: 0 0 70%;
    display: inline-block;
    margin-top: -30%; }

.top-item {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between; }

.bottom-item {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between; }

.item-blue {
  color: #03bff8; }

.item-green {
  color: #4acc04; }

.item-pink {
  color: #fa1ba4; }

.logo-pc {
  display: none; }

.text-content {
  margin-bottom: 30px; }

.top-banner {
  height: calc(100vh - 68px);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  position: relative; }
  .top-banner .logo-img {
    max-width: 70px;
    position: absolute;
    top: 15px;
    right: 15px; }

.top-banner-container {
  padding: 0; }

.text-content-pc {
  display: none; }

.content-logo {
  position: absolute;
  right: 15px;
  bottom: 110px;
  max-width: 22px; }

.mod-page {
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 50px;
  padding-bottom: 50px; }
  .mod-page .mod-background {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../img/common/main.jpg) center center no-repeat;
    background-size: cover; }
  .mod-page .container {
    padding: 0 22px; }
  .mod-page .header {
    background: #fff; }
  .mod-page .sub-title {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-bottom: 10px;
    display: none; }
  .mod-page .title-label {
    padding: 5px 0;
    max-width: 200px;
    flex: 0 0 200px;
    text-align: center;
    transform: translateX(-22px); }
    .mod-page .title-label.bg-black {
      max-width: 117px;
      flex: 0 0 117px;
      background: #000 !important;
      transform: translateX(22px); }
  .mod-page.page-events {
    color: #03bff8; }
    .mod-page.page-events .title-label {
      background: #03bff8;
      color: #fff; }
    .mod-page.page-events .page-item {
      border-bottom: 1px solid #03bff8; }
      .mod-page.page-events .page-item:last-child {
        border: 0; }
  .mod-page.page-miyage {
    color: #fa1ba4; }
    .mod-page.page-miyage .title-label {
      background: #fa1ba4;
      color: #fff; }
    .mod-page.page-miyage .page-item {
      border-bottom: 1px solid #fa1ba4; }
      .mod-page.page-miyage .page-item:last-child {
        border: 0; }
  .mod-page.page-news {
    color: #4acc04; }
    .mod-page.page-news .title-label {
      background: #4acc04;
      color: #fff; }
    .mod-page.page-news .page-item {
      border-bottom: 1px solid #4acc04; }
      .mod-page.page-news .page-item:last-child {
        border: 0; }
  .mod-page .header img {
    max-width: 200px; }

.page-wrapper {
  background: #fff;
  max-width: 526px;
  margin: 50px auto 0; }

.page-container {
  max-width: 526px;
  margin: 0 auto;
  padding-bottom: 60px; }

.top-title {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  transform: translateY(-50%); }

.page-content {
  padding: 0 22px;
  font-size: 1.2rem;
  margin-bottom: 20px; }
  .page-content:last-child {
    margin-bottom: 0; }
  .page-content a:hover {
    color: blue; }

.top-title .title {
  max-width: 120px; }

.top-title .icon {
  max-width: 50px; }

.content-img {
  margin-bottom: 20px; }
  .content-img img {
    margin-bottom: 10px; }

.black-box {
  background: #000;
  color: #fff; }
  .black-box .page-container {
    padding: 10px 0; }

.blue-color {
  color: #03bff8; }

.pink-color {
  color: #fa1ba4; }

.green-color {
  color: #4acc04; }

.item-title {
  font-weight: 500;
  font-size: 1.8rem; }

.two-col {
  max-width: 100%;
  flex: 0 0 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 20px;
  align-items: center;
  -webkit-align-items: center;
  border-bottom: 1px solid #ccc;
  position: relative; }
  .two-col:nth-child(2) {
    border-top: 1px solid #ccc; }
  .two-col .img {
    max-width: 90px;
    flex: 0 0 90px; }
  .two-col .click-icon {
    max-width: 50px;
    flex: 0 0 50px; }
  .two-col .content {
    font-size: 1.1rem; }

.one-col {
  max-width: 100%;
  flex: 0 0 100%; }
  .one-col.to-top {
    padding: 30px 0;
    color: #000;
    position: relative; }
  .one-col.black-box {
    padding: 20px;
    order: 12; }
    .one-col.black-box p {
      margin-bottom: 0; }

.bottom-page {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap; }

.page-item {
  padding: 30px 0; }

@media screen and (min-width: 768px) {
  .bottom-banner .container {
    max-width: 747px; }
  .page-wrapper {
    max-width: 800px; }
  .two-col {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 25px; }
    .two-col:nth-child(2) {
      border-top: 0;
      border-right: 1px solid #ccc; }
    .two-col .img {
      max-width: 103px;
      flex: 0 0 103px; }
    .two-col .click-icon {
      max-width: 70px;
      flex: 0 0 70px; }
    .two-col .content {
      font-size: 1.4rem; }
  .one-col.black-box {
    order: 0;
    padding: 5px 0; }
  .page-content {
    padding: 0;
    font-size: 1.5rem; }
  .mod-banner .logo {
    margin-bottom: 150px;
    max-width: 100%; }
  .mod-banner .container {
    max-width: 747px; }
  .mod-banner .black-box {
    text-align: center; }
  .top-banner {
    height: auto; }
  .top-title {
    justify-content: center;
    -webkit-justify-content: center; }
    .top-title .icon {
      margin-left: 30px;
      margin-right: 100px; }
  .content-item {
    max-width: 100%;
    margin: 0 auto 120px;
    font-size: 1.5rem;
    padding: 15px 30px; }
    .content-item.item-reverse {
      padding-right: 30px;
      padding-left: 30px; }
      .content-item.item-reverse .title {
        margin-left: 0;
        margin-right: 0; }
    .content-item .img {
      max-width: 55%;
      margin-top: -15%;
      flex: 0 0 55%; }
    .content-item .title {
      max-width: 8%;
      margin-left: 0; }
    .content-item.item-blue .img {
      margin-bottom: 0; }
    .content-item.item-green .img {
      margin-top: -25%; }
    .content-item.item-pink .img {
      margin-top: -22%; }
  .click-content {
    max-width: 40%;
    flex: 0 0 40%; }
  .logo-pc {
    display: block; }
  .logo-sp {
    display: none; }
  .text-content-pc {
    display: block; }
  .text-content-sp,
  .content-logo {
    display: none; }
  .mod-page .header {
    display: none; }
  .mod-page .container {
    padding: 0 15px; }
  .mod-page .title-label {
    transform: translateX(0) !important; } }

@media screen and (max-width: 345px) {
  .mod-page .title-label {
    max-width: 150px;
    flex: 0 0 150px; }
    .mod-page .title-label.bg-black {
      max-width: 100px;
      flex: 0 0 100px; } }
