@media only screen and (min-width: 48em) {
  .access-map__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-align: start;

    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
}

.access-map__map {
  position: relative;
  padding-top: 85.15625%;
  width: 100%;
  background-color: #b2b2b2;
}

.access-map__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access-map__informations {
  margin: auto; 
  padding-top: 30px;
  width: 92%;

  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media only screen and (min-width: 48em) {
  .access-map__informations {
    padding-top: 0;
    padding-right: 40px;
    width: 100%;
  }
}

.access-map__information +.access-map__information {
  margin-top: 30px;
}

@media only screen and (min-width: 48em) {
  .access-map__information +.access-map__information {
    margin-top: 50px;
  }
}

.access-map__title {
  margin-top: 0;
  margin-bottom: 0; 
  font-weight: bold;
  font-size: 1.5rem;
}
@media only screen and (min-width: 48em) {
  .access-map__title {
    font-size: 1.8rem;
  }
}

.access-map__text {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.3rem;
  line-height: 1.7;
}
.access-map__text em {
  color: #b8833a;
  font-style: normal;
}
@media only screen and (min-width: 48em) {
  .access-map__text {
    margin-top: 15px; 
    font-size: 1.4rem;
  }
}

.wide-area-map__img {
  margin: auto; 
  max-width: 860px;
}

.wide-area-map +.parking-list {
  margin-top: 60px;
}

.parking-list__items {
  border-bottom: 1px solid #e5e5e5;
}

.parking-list__header {
  position: relative; 
  padding: 15px 30px 15px 4%;
  border-top: 1px solid #e5e5e5;
}
.parking-list__header:after {
  position: absolute;
  top: 40%;
  right: 15px;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  content: "";
  -webkit-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
}
.parking-list__header.is-open:after {
  -webkit-transform: rotateX(180deg) rotateZ(135deg);
          transform: rotateX(180deg) rotateZ(135deg);
}
@media only screen and (min-width: 48em) {
  .parking-list__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-align: center;
    padding: 30px 60px 30px 0; 

    -webkit-align-items: center;
            align-items: center;
  }
  .parking-list__header:after {
    right: 30px;
  }
}

.parking-list__head-title {
  margin-top: 0;
  margin-bottom: 0; 
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.4rem;
}
@media only screen and (min-width: 48em) {
  .parking-list__head-title {
    font-size: 1.8rem;
  }
}

.parking-list__caution {
  margin-top: 0;
  margin-bottom: 0; 
  margin-left: 0;
  font-size: 1.3rem;
}
@media only screen and (min-width: 48em) {
  .parking-list__caution {
    margin-left: 15px;
  }
}

.parking-list__content {
  display: none; 
  padding-bottom: 30px;
}
@media only screen and (min-width: 48em) {
  .parking-list__content {
    padding-bottom: 60px;
  }
}

.parking-table {
  margin: auto; 
  width: 92%;
}
.parking-table +.parking-table {
  margin-top: 30px;
}
@media only screen and (min-width: 48em) {
  .parking-table +.parking-table {
    margin-top: 60px;
  }
}

.parking-table__caption {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5; 
  font-weight: bold;
  font-size: 1.5rem;
}
@media only screen and (min-width: 48em) {
  .parking-table__caption {
    font-size: 1.8rem;
  }
}

.parking-table__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-align: start;
  border-bottom: 1px solid #e5e5e5;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.parking-table__col {
  padding: 0 15px 0 0;
  padding-bottom: 15px; 
  font-size: 1.4rem;

  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.parking-table__col:first-child {
  padding: 15px 15px 15px 0;
  min-width: 100%;
}
.parking-table__col:first-child p {
  margin-top: 0;
  margin-bottom: 0;
}
.parking-table__col >em {
  color: #666;
  font-style: normal; 
  font-size: 1.3rem;
}
.parking-table__col >p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3rem;
}
.parking-table__col >p +p {
  margin-top: 10px;
}
.parking-table__col >strong {
  font-size: 1.4rem;
}
@media only screen and (min-width: 48em) {
  .parking-table__col {
    padding: 15px 15px 15px 0;
  }
  .parking-table__col:first-child {
    min-width: 220px;

    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .parking-table__col:first-child p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .parking-table__col >em {
    font-size: 1.4rem;
  }
  .parking-table__col >p {
    font-size: 1.4rem;
  }
  .parking-table__col >p +p {
    margin-top: 15px;
  }
  .parking-table__col >strong {
    font-size: 1.5rem;
  }
  .aem-Grid.parking-table__row>.aem-GridColumn--default--5 {
    max-width: 396px;
  }
  .aem-Grid.parking-table__row>.aem-GridColumn--default--10 {
    max-width: 792px;
  }
}

.parking-annotation {
  margin-top: 30px; 
  margin-right: auto;
  margin-left: auto;
  width: 92%;
}

.parking-annotation__text {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.7;
}

.post-slider {
  overflow: hidden;
}
.post-slider .ci-btn {
  margin-right: auto; 
  margin-left: auto;
  width: 92%;
}

.post-slider__inner {
  position: relative;
  margin-left: 20px;
}
.post-slider__inner .slick-arrow {
  display: none !important;
}
@media only screen and (min-width: 48em) {
  .post-slider__inner {
    margin-left: auto;
  }
  .post-slider__inner .slick-arrow {
    display: block !important;
    width: 45px;
    height: 45px;
    transition-delay: 0s; 
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 0.4s;
    transition-property: opacity;
  }
  .post-slider__inner .slick-arrow:before {
    border-color: #000;
  }
  .post-slider__inner .slick-arrow:hover {
    opacity: 0.5; 
    cursor: pointer;
  }
  .post-slider__inner .slick-prev {
    left: 0;
  }
  .post-slider__inner .slick-next {
    right: 0;
  }
}

.post-slider__items {
  overflow: hidden;
  text-align: left; 
  font-size: 0;
}

.post-slider__item {
  position: relative;
  display: inline-block;
  margin: 0 10px; 
  width: 38vw;
  outline: none;
  vertical-align: top;
}
@media only screen and (min-width: 48em) {
  .post-slider__item +.post-slider__item {
    margin-top: 0;
  }
  .post-slider__item:hover .post-slider__img img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .post-slider__item:hover .post-slider__img:after {
    opacity: 0.3;
  }
}

.post-slider__bg-img {
  position: relative; 
  overflow: hidden;
}
.post-slider__bg-img img {
  transition-delay: 0s; 
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 4s;
  transition-property: -webkit-transform;
  transition-property:         transform;
  transition-property:         transform, -webkit-transform;
}
.post-slider__bg-img:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  content: "";
  opacity: 0;
  transition-delay: 0s; 
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.4s;
  transition-property: opacity;
}

.post-slider__title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.6;
}

.post-slider__date {
  margin-top: 10px;
  margin-bottom: 0;
  color: #b2b2b2;
  font-weight: bold; 
  font-size: 1.2rem;
}
@media only screen and (min-width: 48em) {
  .post-slider__date {
    font-size: 1.3rem;
  }
}
.parking-table__row p {
  margin-top: 0;
  margin-bottom: 0;
}