@charset "UTF-8";
.post-filter-navi__inner {
  padding-bottom: 30px;
}
@media only screen and (min-width: 48em) {
  .post-filter-navi__inner {
    padding-bottom: 0;
  }
}

.post-filter-navi__dummy {
  position: relative; 
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #b2b2b2;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}
.post-filter-navi__dummy:after {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  display: block;
  margin: auto; 
  width: 8px;
  height: 8px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  content: "";
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.post-filter-navi__dummy.is-open:after {
  -webkit-transform: rotateX(180deg) rotateZ(45deg);
          transform: rotateX(180deg) rotateZ(45deg);
}
@media only screen and (min-width: 48em) {
  .post-filter-navi__dummy {
    display: none;
  }
}

.post-filter-navi__content {
  display: none;
}
@media only screen and (min-width: 48em) {
  .post-filter-navi__content {
    display: block;
  }
}

.post-filter-navi__items {
  position: relative; 
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (min-width: 48em) {
  .post-filter-navi__items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

.post-filter-navi__item {
  position: relative;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; 
  border-left: 1px solid #e5e5e5;
  text-align: center;
  font-weight: bold;

  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.post-filter-navi__item a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000;
}
.post-filter-navi__item:after {
  position: absolute;
  bottom: 0; 
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: transparent;
  content: "";
}
@media only screen and (min-width: 48em) {
  .post-filter-navi__item {
    border: none;
  }
  .post-filter-navi__item a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #b2b2b2;
  }
  .post-filter-navi__item.is-active a {
    color: #000;
  }
  .post-filter-navi__item.is-active:after {
    background-color: #b8833a;
  }
  .post-filter-navi__item:hover a {
    color: #000;
  }
}

@media only screen and (min-width: 48em) {
  .post-filter {
    padding: 40px 0;
  }
}

.post-filter__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: start;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
}
.post-filter__inner:first-child .post-filter__box:first-child {
  border-top: none;
}
@media only screen and (min-width: 48em) {
  .post-filter__inner {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .post-filter__inner +.post-filter__inner {
    margin-top: 20px;
  }
}

.post-filter__box {
  width: 100%;
  border-top: 1px solid #e5e5e5;
}
@media only screen and (min-width: 48em) {
  .post-filter__box {
    border-top: none;
  }
  .post-filter__box.date-filter {
    margin-right: 34%;
  }
  .post-filter__box.category-filter {
    width: 54%;
  }
  .post-filter__box.genre-filter,
  .post-filter__box.condition-filter {
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .post-filter__box.place-filter,
  .post-filter__box.other-filter,
  .post-filter__box.service-filter {
    max-width: 240px; 

    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .post-filter__box +.post-filter__box {
    margin-left: 2%;
    padding-left: 20px; 
    border-left: 1px solid #e5e5e5;
  }
}

.post-filter__box__inner {
  display: none;
  padding-bottom: 15px;
}
@media only screen and (min-width: 48em) {
  .post-filter__box__inner {
    display: block;
    padding-bottom: 0;
  }
}

.post-filter__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 4%; 
  font-weight: bold;
  font-size: 1.5rem;
}
.post-filter__title:after {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  display: block;
  margin: auto; 
  width: 8px;
  height: 8px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  content: "";
  -webkit-transform: rotateX(0) rotateZ(45deg);
          transform: rotateX(0) rotateZ(45deg);
}
.post-filter__title.is-open:after {
  -webkit-transform: rotateX(180deg) rotateZ(45deg);
          transform: rotateX(180deg) rotateZ(45deg);
}
@media only screen and (min-width: 48em) {
  .post-filter__title {
    margin-bottom: 10px;
    padding: 0;
  }
  .post-filter__title:after {
    display: none;
  }
}

.post-filter__buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-align: stretch;
  margin-top: 25px; 

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: stretch;
          align-items: stretch;
}
@media only screen and (min-width: 48em) {
  .post-filter__buttons {
    margin-top: 0;
  }
}

.post-filter__button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  width: 32%;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  transition-delay: 0s; 
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.4s;
  transition-property: background-color;

  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.post-filter__button +.post-filter__button {
  margin-left: 2%;
}
.post-filter__button span,
.post-filter__button a {
  display: block;
  padding: 10px;
  width: 100%;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.72;
  transition-delay: 0s; 
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.4s;
  transition-property: color, background-color;
}
.post-filter__button.is-active {
  background-color: #b8833a;
}
.post-filter__button.is-active span,
.post-filter__button.is-active a {
  color: #fff;
}
@media only screen and (min-width: 48em) {
  .post-filter__button {
    width: auto; 

    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .post-filter__button +.post-filter__button {
    margin-left: 10px;
  }
  .post-filter__button:hover {
    background-color: #b8833a; 
    cursor: pointer;
  }
  .post-filter__button:hover span,
  .post-filter__button:hover a {
    background-color: #b8833a;
    color: #fff;
  }
}

.post-filter__select {
  margin-top: 2%; 
  width: 100%;

  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.post-filter__select span,
.post-filter__select a {
  display: block;
  width: 100%; 
  line-height: 1.72;
}
.post-filter__select.is-active >span {
  background-color: #b8833a;
  color: #fff;
}
.post-filter__select.is-active:after {
  border-color: #fff;
}
@media only screen and (min-width: 48em) {
  .post-filter__select {
    margin-top: 0;
  }
  .post-filter__button +.post-filter__select {
    margin-left: 10px;
  }
}

.post-filter__items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-top: 10px;
  margin-bottom: 0;
  padding-right: 4%; 
  padding-left: 4%;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media only screen and (min-width: 48em) {
  .post-filter__items {
    margin-top: 25px; 
    padding-right: 0;
    padding-left: 0;
  }
}

.post-filter__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex; 
  margin-bottom: 10px;
  width: 48%;
}
.post-filter__item:nth-child(2n) {
  margin-left: 4%;
}
.post-filter__item a {
  text-decoration: underline;
}
.post-filter__item .svg {
  display: inline-block;
  margin: 4px; 
  width: 11px;
  height: 11px;
}
.post-filter__item label {
  padding-left: 5px;
}
.post-filter__item input {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
          flex-shrink: 0;
}
@media only screen and (min-width: 48em) {
  .post-filter__item {
    width: 100%;
  }
  .post-filter__item:nth-child(2n) {
    margin-left: 0;
  }
  .category-filter .post-filter__item {
    width: 32%;
  }
  .category-filter .post-filter__item:nth-child(3n+2) {
    margin-right: 2%; 
    margin-left: 2%;
  }
  .genre-filter .post-filter__item,
  .condition-filter .post-filter__item {
    width: 48%;
  }
  .genre-filter .post-filter__item:nth-child(2n),
  .condition-filter .post-filter__item:nth-child(2n) {
    margin-left: 2%;
  }
}

.post-filter__reset {
  display: none; 
  padding: 0 4%;
  border-top: 1px solid #e5e5e5;
  text-align: right;
}
.post-filter__reset span {
  position: relative;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px; 
  padding-left: 15px;
  color: #666;
  font-size: 1.5rem;
}
.post-filter__reset span:before,
.post-filter__reset span:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto; 
  width: 10px;
  height: 1px;
  background-color: #666;
  content: "";
}
.post-filter__reset span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.post-filter__reset span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media only screen and (min-width: 48em) {
  .post-filter__reset {
    border-top: none;
    text-align: center;
  }
}

.has-no-items .service-list__inner:before {
  display: block;
  color: #b2b2b2; 
  content: "該当するサービスはございません。";
  font-size: 1.6rem;
}

.service-list__items {
  margin-top: 0;
  margin-bottom: 0;
}

.service-list__item {
  margin-top: -1px; 
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
@media only screen and (min-width: 48em) {
  .service-list__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.service-list__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-align: center;

  -webkit-align-items: center;
          align-items: center;
}

.service-list__head-title {
  margin-top: 0;
  margin-bottom: 0; 
  font-weight: bold;
  font-size: 1.6rem;
}
@media only screen and (min-width: 48em) {
  .service-list__head-title {
    font-size: 1.9rem;
  }
}

.service-list__tags {
  margin-left: 10px;
}

.service-list__tag {
  display: inline-block;
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 2px;
  background-color: #b8833a;
  color: #fff;
  font-weight: bold; 
  font-size: 1.3rem;
}

.service-list__category {
  margin-top: 10px;
  margin-bottom: 0; 
  font-size: 1.2rem;
}
@media only screen and (min-width: 48em) {
  .service-list__category {
    font-size: 1.3rem;
  }
}

.service-list__text {
  margin-top: 10px;
  margin-bottom: 0; 
  line-height: 1.7;
}

.service-list__text .mt40,
.service-list__btn {
  margin-top: 15px;
  text-align: left;
}
.service-list__text .ci-btn-medium >a{
  width: 150px;
  padding: 10px;
  font-size: 1.3rem;
}
.service-list__btn >a,
.service-list__btn >span {
  display: inline-block;
  padding: 10px;
  width: 150px;
  background-color: #b8833a;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  transition-delay: 0s; 
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.4s;
  transition-property: background-color;
}
.service-list__btn >a:hover,
.service-list__btn >span:hover {
  background-color: #805b28;
}

.sectioning +.sectioning>.service-announce__box, 
.service-announce__box +.service-announce__box {
  margin-top: 20px;
  padding-top: 20px; 
  border-top: 1px solid #b2b2b2;
}

.service-announce__title p{
  margin-top: 0;
  margin-bottom: 0; 
  font-weight: bold;
  font-size: 1.5rem;
}

.service-announce__text p{
  position: relative;
  margin-top: 10px;
  margin-bottom: 0; 
  padding-left: 20px;
  line-height: 1.7;
}
.service-announce__text p:before {
  position: absolute;
  top: 0;
  left: 0; 
  content: "●";
}
@media only screen and (min-width: 48em) {
  .service-announce__text p{
    margin-top: 15px;
  }
}

.article-information {
  text-align: center;
}
.article-slider +.article-information {
  margin-top: 20px;
}
@media only screen and (min-width: 48em) {
  .article-slider +.article-information {
    margin-top: 30px;
  }
}

.article-information__text,
.article-information__text p {
  margin-top: 0;
  margin-bottom: 0; 
  font-weight: bold;
  font-size: 1.5rem;
}
.article-information__text +.article-information__text {
  margin-top: 5px;
}
.article-information__text a {
  text-decoration: underline;
}
.article-information__text a:hover {
  text-decoration: none;
}
@media only screen and (min-width: 48em) {
  .article-information__text >p {
    font-size: 1.6rem;
  }
}

.article-information__caution {
  margin-top: 15px;
  margin-bottom: 0; 
  font-size: 1.5rem;
}

.service-detail__inner {
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.service-detail__text >p {
  margin-top: 0;
  margin-bottom: 0;
}

.shop-service__items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: start;
  -ms-flex-align: stretch;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: stretch;
          align-items: stretch;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
}

.shop-service__item {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-align: center;
  margin-bottom: 10px;
  padding: 15px 30px 15px 15px;
  width: 100%;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  transition-delay: 0s; 
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.4s;
  transition-property: background-color, color;

  -webkit-align-items: center;
          align-items: center;
}
.shop-service__item .svg {
  display: inline-block;
  width: 36px;
  height: 44px;
  vertical-align: middle;
  transition-delay: 0s; 
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.4s;
  transition-property: fill;
}
.shop-service__item:after {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  display: block;
  margin: auto;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  content: "";
  transition-delay: 0s; 
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.4s;
  transition-property: border-color;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media only screen and (min-width: 48em) {
  .shop-service__item {
    padding: 20px 40px 20px 30px; 
    width: 49.5%;
  }
  .shop-service__item:nth-child(2n) {
    margin-left: 1%;
  }
  .shop-service__item:hover {
    background-color: #b8833a; 
    color: #fff;
  }
  .shop-service__item:hover .svg {
    fill: #fff;
  }
  .shop-service__item:hover:after {
    border-color: #fff;
  }
}

.shop-service__item__title {
  margin: 0; 
  font-size: 1.5rem;
}
.svg +.shop-service__item__title {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold; 
  font-size: 1.6rem;
}
@media only screen and (min-width: 48em) {
  .shop-service__item__title {
    font-size: 1.7rem;
  }
}

.shop-service__item__text {
  margin-top: 10px;
  margin-bottom: 0; 
  font-size: 1.3rem;
}
@media only screen and (min-width: 48em) {
  .shop-service__item__text {
    font-size: 1.4rem;
  }
}
